/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: gray;
}

.backgroundImage{
	-fx-background-image: url("/assets/black.jpg");
	-fx-background-position: right ;
	-fx-background-repeat: repeat ;
}

.alert{
	-fx-font-weight: bold;
}

.table{
	-fx-background-color: gray;
}

.tableCell{
	-fx-alignment: center;
}

.daysUntilCell{
	-fx-alignment: center;
	-fx-font-weight: bold;
}

.Lab{
	-fx-background-color: Green;
}

.Homework{
	-fx-background-color: aquamarine ;
}

.Test{
	-fx-background-color: Red;
}

.Project{
	-fx-background-color: Yellow;
}

.Quiz{
	-fx-background-color: Purple;
}

.Paper{
	-fx-background-color: Pink;
}

.Final{
	-fx-background-color: Red;
}

.Discussion{
	-fx-background-color: Orange;
}

#LateCell{
	-fx-effect: dropshadow(two-pass-box , red, 0, 0 , 0, 0); 
}